#ripe{
    background-color: #222;
    overflow: hidden;
}

#ripe div{
    width: 200px;
    height:220px;
    margin-left: 100px;
    margin-top: -110px;
    border-radius: 50%;
    box-shadow: -35px 3px 0 -8px rgba(0,0,0,0.1), -60px 0 0 #90ee90, -85px 3px 0 -5px rgba(0,0,0,0.1),-110px 0 0 #adff2f,-135px 3px 0 -5px rgba(0,0,0,0.1),-160px 0 0 #ff0,-185px 3px 0 -5px rgba(0,0,0,0.1),-210px 0 0 #ffd700,-235px 3px 0 -5px rgba(0,0,0,0.1),-258px 0 0 #daa520;
}
