.header {
    box-shadow: 0 1px 1px 1px #efefef;
    padding: 10px;
}
.header-wrap {
    margin: auto 10rem;
    display: flex;
    align-items: center;
}
.brand-wrap {
    width: fit-content;
    display: flex;
    align-items: center;
}

.brand-wrap .brand-text {
    font-weight: bold;
    font-size: 1.2rem;
}

.brand-wrap .logo-box {
    margin-right: 1rem;
}
.logo-box {
    width: 60px;
    height: 60px;
    display: block;
}

.logo-box .logo-img {
    width: 100%;
    height: 100%;
}

.nav-links-wrap {
    margin-left: 3rem;
}

.nav-links-wrap .link {
    padding: 1.5rem;
    font-size: 1.2rem;
}
